<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/CSS/output.css">
    <title>PRISM</title>


</head>

<body class="bg-white">
<!-- component -->
    <div id="bro" class="w-[100%] h-[100vh]">
        <div class="relative flex md:flex-row flex-col-reverse w-[100%] overflow-hidden">
            <div class="md:h-[100vh] md:w-[50%] md:pl-24 px-10 md:mt-0 -mt-20">
                <div class=" mt-52 text-4xl font-extrabold text-blue-700">Welcome</div>
                <div class="md:text-9xl text-8xl font-extrabold text-blue-900">PRISM</div>
                <div class="font-bold md:text-base text-[13px]">A PROJECT REPOSITORY OF INTERNATIONAL SCHOOL OF MANAGEMENT</div>
                <div class="md:mt-11 mt-3 md:text-xl text-lg text-blue-300">"Welcome to Prism – where programmers unite, projects shine,
                    and competition ignites! Dive into a world of coding creativity, share your projects, and join a
                    community that's dedicated to growth and excellence. Let's embark on this coding journey together!"
                </div>
                <div >
                    <button  hx-get="/SIGNUP" hx-trigger="click" hx-target="#bro"  class=" h-10 w-32 rounded-md mt-5 text-white bg-[#4475f2]">Start Now→</button>
                </div>
            </div>
            <div class="relative flex items-center md:transform-none transform -rotate-90 md:h-[98vh] h-[30vh] md:w-[50%] w-[100%] md:pl-56 md:mt-0 -mt-[170px]">
                <div class="md:h-[100%] h-[300%] md:w-[100%] w-[100%] bg-[#4475f2] drop-shadow-2xl absolute z-10 md:skew-x-[35deg] skew-x-[20deg] rounded-bl-3xl"></div>
                <div class="md:h-[100%] h-[300%] md:w-[100%] w-[100%] bg-[#4475f2] drop-shadow-2xl md:skew-x-[-35deg] skew-x-[-20deg] rounded-bl-3xl "></div>
            </div>
        </div>

        <div id="FEATURES" class="bg-white h-[80vh] md:py-28 py-20 md:px-28 px-10">
            <div class="text-blue-600 text-lg font-bold">FEATURES</div>
            <div class="font-bold md:text-5xl text-3xl my-10">🤔. What You Can DO?</div>
            <div class="flex md:flex-row flex-col justify-around h-[80%]">
                <div class="flex md:flex-col flex-row items-center md:w-[30%]">
                    <div class=" flex md:w-[100%] md:h-[70%] w-[50%] justify-center items-center "><div class=" w-[90px] h-[90px] mt-5 p-2 rounded-2xl bg-blue-500"><img  src="../../static/images/evaluate.png" alt=""></div></div>
                    <div class="md:h-[30%] md:w-[100%] w-[50%] text-center md:text-2xl font-semibold">Project showcase <br>and evaluation</div>
                </div>
                <div class="flex md:flex-col flex-row items-center md:w-[30%]">
                    <div class=" flex w-[100%] h-[70%] justify-center items-center "><div class=" w-[90px] h-[90px] mt-5 p-2 rounded-2xl bg-blue-500"><img  src="../../static/images/trophy.png" alt=""></div></div>
                    <div class="h-[30%] w-[100%] text-center md:text-2xl font-semibold">Competitive Environment
                        <br>and Challenges</div>
                </div>
                <div class="flex md:flex-col flex-row items-center md:w-[30%]">
                    <div class=" flex w-[100%] h-[70%] justify-center items-center "><div class=" w-[90px] h-[90px] mt-5 pt-4 rounded-2xl bg-blue-500"><img  src="../../static/images/support.png"></div></div>
                    <div class="h-[30%] w-[100%] text-center md:text-2xl font-semibold">Community Engagement 
                        and Collaboration</div>
                </div>
            </div>
        </div>
        <div class="bg-white h-auto  md:py-28 py-20 md:px-28 px-16">
            <div class="font-bold md:text-5xl text-3xl my-10">🚀. Our Mission and Vision.</div>
            <div class="flex flex-col md:flex-row justify-around h-auto w-[100%] md:mt-20">
                <div class=" h-[100%] md:w-[45%]"><img src="../../static/images/Service.png" alt="Our mission"></div>
                <div class="flex flex-col items-center h-[100%] md:w-[45%]">
                    <div class="md:text-4xl text-2xl font-bold md:pt-3">Our Mission</div>
                    <div class="md:pt-12 pt-3 md:text-xl text-gray-500">At Prism, our mission is to cultivate a vibrant community of
                        programming enthusiasts, where creativity thrives, skills are honed, and collaboration flourishes.
                        We provide a platform for users to showcase their programming projects, receive constructive
                        feedback, and engage in healthy competition, empowering individuals to grow their expertise and
                        pursue excellence in the world of coding.</div>
                </div>
            </div>
            <div class="flex flex-col-reverse md:flex-row  justify-around h-auto w-[100%] ">
                <div class="flex flex-col items-center justify-around bg-grey-200 h-[100%] md:w-[45%]">
                    <div class="md:text-4xl text-2xl font-bold pt-3">Our Vision</div>
                    <div class="md:pt-12 pt-3 md:text-xl text-gray-500">Our vision at Prism is to be the premier destination for
                        programmers of all levels seeking to refine their craft and showcase their talents. Through
                        fostering an inclusive and supportive environment, we aspire to become the go-to platform where
                        users can not only share their projects but also learn from one another, push the boundaries of
                        innovation, and embark on a journey of continuous improvement. Together, we envision a future where
                        every individual finds inspiration, recognition, and fulfillment in their programming endeavors.
                    </div>
                </div>
                <div class=" h-[100%] md:w-[45%] md:pt-0 pt-5"><img src="../../static/images/Reading.png" alt="Our mission"></div>
            </div>
        </div>
        <div class="bg-white h-auto w-[100%]  md:py-16 py-16 md:px-28 px-10">
            <div class="text-blue-600 text-lg font-bold">REVIEWS</div>
            <div class="font-bold md:text-5xl text-3xl ">💭. Reviews of Others.</div>
            <div class="flex md:flex-row flex-col md:px-5 md:mt-20 mt-10 justify-around">
                <div class="md:w-[28%] h-[70vh] drop-shadow-2xl bg-slate-50 py-3">
                    <div class=" flex h-[35%] w-[100%]  px-[30] py-4 text-center justify-center">
                        <img src="../../static/images/cover.png" alt="person's image">
                    </div>
                    <div class="h-auto w-[100%] text-center py-3 text-md overflow-auto text-gray-500">"Prism is the ultimate platform for both
                        showcasing your coding prowess and honing your skills. The project showcase feature is sleek and
                        intuitive, making it simple to share my work with the world. Plus, the competitive challenges
                        provide an extra dose of excitement and drive. I'm hooked!"</div>
                    <div class="h-[7%] w-[100%] text-center text-blue-500 font-semibold">Anish kumar</div>
                    <div class="h-[7%] w-[100%] text-center ">Collage Student</div>
                </div>
                <div class="md:w-[28%] h-[70vh]  drop-shadow-2xl bg-slate-50 py-3">
                    <div class="flex h-[35%] w-[100%] px-[30] py-4 text-center justify-center ">
                        <img src="../../static/images/cover (1).png" alt="person's image">
                    </div>
                    <div class="h-auto w-[100%] text-center py-3 text-md overflow-auto text-gray-500">As a beginner in programming, Prism has been an
                        invaluable resource for me. The community is incredibly supportive, and the feedback on my projects
                        has helped me improve significantly. The competitive environment adds an exciting edge to my
                        learning journey. Thank you, Prism!</div>
                    <div class="h-[7%] w-[100%] text-center text-blue-500 font-semibold">Himanshu Raj</div>
                    <div class="h-[7%] w-[100%] text-center ">Collage Student</div>
                </div>
                <div class="md:w-[28%] h-[70vh] drop-shadow-2xl bg-slate-50 py-3">
                    <div class=" flex h-[35%] w-[100%] px-[30] py-4 justify-center text-center">
                        <img src="../../static/images/cover (2).png" alt="person's image">
                    </div>
                    <div class="h-auto w-[100%] text-center  py-3 text-md overflow-auto text-gray-500">"Prism is a game-changer for programmers! I
                        love how easy it is to showcase my projects and receive valuable feedback from fellow coders. The
                        competitive challenges keep me motivated to push my skills to the next level. Highly recommend!"
                    </div>
                    <div class="h-[7%] w-[100%] text-center  text-blue-500 font-semibold">Himanshu kumar</div>
                    <div class="h-[7%] w-[100%] text-center ">Collage Student</div>
                </div>
            </div>
        </div>
    </div>
    <script src="../../static/js/htmx.js"></script>
</body>
</html>